<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>

    <h1>Currículo online</h1>

    <h2>Name and age:</h2>
    <h3><%= curriculo.name %></h3>
    <h3><%= curriculo.age %></h3>

    <h2>Ability's: </h2>
    <h3><%= curriculo.ability %></h3>

    <h2>Experiences:</h2>
    <h3><%= curriculo.experience %></h3>
    
</body>
</html>